<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>PracticePro</title>
  </head>
  <body>

<div id="app" class="appdiv">


<header>
  <nav>
    <div class="nav">
  <ul class="topnav">
    <li><a href="#home" v-on:click="pageName = 'home'">Home</a></li>
    <li><a href="#calender" v-on:click="pageName = 'calender'">Calender</a></li>
    <li><a href="#practice" v-on:click="pageName = 'practice'">Practice</a></li>
    <li><a href="#lessons" v-on:click="pageName = 'lessons'">Lessons</a></li>
  </ul>
  </div>
  </nav>
</header>

<div class="content">


<!-- Start Page -->
<main v-bind:hidden="pageName != 'start'" class="animated">
  <div class="startpage">
  <h1>PracticePro</h1>
  <img src="images/icon.jpg" alt="practice pro icon" width="400px">
  <h1>Welcome</h1>

  <div class="names">
  First name? <input v-model="firstName" placeholder="First name?">
  Last name? <input v-model="lastName" placeholder="Last name?">
  </div>

  <h2><a href="#home" v-on:click="pageName = 'home'">Begin</a></h2>
  </div>
</main>




<!-- dashboard -->
<main v-bind:hidden="pageName != 'home'">
<div class="home">

<div class="profile">
  <img class="avatar" src="images/male.png" alt="profile picture">
  <p class="name">{{ fullName }}</p>
  <div class="stats">
    <ul class="statslist">
      <li>
        <span>Hours</span>
        <span>222</span>
      </li>
      <li>
        <span>Lessons</span>
        <span>8</span>
      </li>
      <li>
        <span>Scales</span>
        <span>13</span>
      </li>
    </ul>
  </div>
</div>


<div class="img">
  <a href="#tips" v-on:click="pageName = 'tips'">
  <img src="images/pianist.jpg" alt="piano player">
  <p><a href="#tips" v-on:click="pageName = 'tips'">How to prepare for your audition</a></p>
  </a>
</div>

<div class="leaderboard">

      <h2>Leaderboard</h1>
        <div class="profilepics">
          <img class="profilepic" src="images/max.png" alt="profile picture">
          <img class="profilepic" src="images/hadley.png" alt="profile picture">
          <img class="profilepic" src="images/chloe.png" alt="profile picture">
        </div>
            <p>Max 500 hrs</p>
            <p>Hadley 456 hrs</p>
            <p>Chloe 427 hrs</p>

</div>


  <div class="remind">
    <h2>Don't forget to practice today!</h3>
    <p>Practiced 4/5 days</p>
  </div>

</main>

<!-- Calender -->
<main v-bind:hidden="pageName != 'calender'">
<div class="calender">
  <!-- Image of a calender I guess? -->
<!-- I got this from https://codepen.io/jamiemggs/pen/xdvaJv -->
<div class="jzdbox1 jzdbasf jzdcal">
<div class="jzdcalt">March 2019</div>
<span>Su</span>
<span>Mo</span>
<span>Tu</span>
<span>We</span>
<span>Th</span>
<span>Fr</span>
<span>Sa</span>

<span class="jzdb"><!--BLANK--></span>
<span class="jzdb"><!--BLANK--></span>
<span class="jzdb"><!--BLANK--></span>
<span class="jzdb"><!--BLANK--></span>
<span class="jzdb"><!--BLANK--></span>
<span>1</span>
<span>2</span>
<span>3</span>
<span>4</span>
<span>5</span>
<span>6</span>
<span>7</span>
<span>8</span>
<span>9</span>
<span>10</span>
<span>11</span>
<span>12</span>
<span>13</span>
<span>14</span>
<span>15</span>
<span>16</span>
<span>17</span>
<span>18</span>
<span>19</span>
<span>20</span>
<span>21</span>
<span>22</span>
<span>23</span>
<span>24</span>
<span>25</span>
<span>26</span>
<span>27</span>
<span>28</span>
<span>29</span>
<span>30</span>
<span>31</span>
<span class="jzdb"><!--BLANK--></span>
<span class="jzdb"><!--BLANK--></span>
<span class="jzdb"><!--BLANK--></span>
<span class="jzdb"><!--BLANK--></span>
<span class="jzdb"><!--BLANK--></span>
<span class="jzdb"><!--BLANK--></span>
</div>
</div>
</main>

<main v-bind:hidden="pageName != 'practice'">
<div class="practice">

  <div class="prebuilt">
  <h2>Use a pre-built schedule</h3>
  <div class="appRoot">
  <!-- Code from https://codepen.io/kingRayhan/pen/MoLrXX -->
  <div class="container">
  <div class="col-md-6 col-md-offset-3">
      <h3>{{ title.taskList }}</h3>
        <p>Solo: 15 MIN</p>
        <p>Scales 30 min</p>
        <p>Cooldown: 10 min</p>
  </div>
  </div>
  </div>
  </div>

  <div class="build">
<h2>Build a practice session</h3>
<div class="appRoot">
<!-- Code from https://codepen.io/kingRayhan/pen/MoLrXX -->
<div class="container">
  <div class="col-md-6 col-md-offset-3">
	  	<h3>{{ title.taskList }}</h3>
	   <ul class="list-group tasklistPane" >
			<li class="list-group-item" v-for="(task,index) in tasks" v-show="task.completed != true">
				<input type="checkbox" :id="'incompleted-task-id-' + index " v-model="task.completed"> <label :for="'incompleted-task-id-' + index ">{{task.description}}</label>
				<div class="btn-group pull-right">
					<button class="btn btn-success btn-xs" @click="editTaskIndex = index">Edit</button>
					<button class="btn btn-danger btn-xs" @click="deleteTask(index)">Delete</button>
				</div>
		   </li>

		   <li class="list-group-item" v-if="editTaskIndex < 0">
		   		<input type="text" class="form-control" placeholder="Add next step and press enter" ref="newTask" @keyup.enter="addTask">
		   </li>

		   <li class="list-group-item" v-if="editTaskIndex > -1">
			   <div class="has-success">
			   		<input type="text" class="form-control" placeholder="Exit and hit enter" v-model="tasks[editTaskIndex].description" @keyup.enter="editTaskIndex = -1 , edited()" @keyup.enter="edited">
			   </div>
		   </li>
	   </ul>

		<!-- Completed tasks -->
		<div v-if="completeTasks.length > 0">
			<h3>{{ title.completedTasks }}</h3>
		   <ul class="list-group" >
				<li class="list-group-item" v-for="(task,index) in completeTasks">
					<input type="checkbox" :id="'completed-task-id-' + index " v-model="task.completed"> <label :for="'completed-task-id-' + index ">{{task.description}}</label>

			   </li>
		   </ul>
		</div>
  </div>
</div>
</div>
</div>
</div>
</main>

<main v-bind:hidden="pageName != 'lessons'">
<div class="lessons">

<!-- Images from RedClayBeginnerBand on youtube -->

    <a href="#tips" v-on:click="pageName = 'tips'">
      <div class="imagetips">
    <img src="images/tips1.jpg" alt="piano player">
      </div>
    <h2><a href="#tips" v-on:click="pageName = 'tips'">Master a new scale</a></h3>
    </a>

  <a href="#tips" v-on:click="pageName = 'tips'">
    <div class="imagetips">
  <img src="images/tips2.jpg" alt="piano player">
    </div>
  <h2><a href="#tips" v-on:click="pageName = 'tips'">Complete the trombone starter series</a></h3>
  </a>

  <a href="#tips" v-on:click="pageName = 'tips'">
    <div class="imagetips">
  <img src="images/tips3.jpg" alt="piano player">
    </div>
  <h2><a href="#tips" v-on:click="pageName = 'tips'">Learn advanced techniques</a></h3>
  </a>



</div>
</main>






<!-- Tips -->
<main v-bind:hidden="pageName != 'tips'">
<div class="tips">
  <h2>How to prepare for your audition</h2>
  <p>Whether you’ve been playing for one year or ten, we can all get some nerves when its audition time. While a little nervousness is healthy, you don’t want to be completely nervous! One of the best ways to help with nerves is to be prepared. Heres an example of how to set yourself up for success.
  </p>

  <h3>One Month Before</h3>
  <p>This is when we want to be finished learning our solos and scales. Here we’ve set up a sample practice session. </p>
  <p>30 min. Scales</p>
  <p>20 min. Etudes</p>
  <p>45 min. Solo</p>

  <h3>One Week Before</h3>
  <p>When you get this close to the audition, you want to make sure your solo is fresh in your mind, but make sure you aren't overworking yourself! Focus on easier sessions, and run through the hard parks of your solo. Try a schedule like this:</p>
  <p>15 min. Scales</p>
  <p>10 min. Etudes</p>
  <p>20 min. Solo</p>

  <h3>One Day Before</h3>
  <p>Todays the day to make sure you're rested and ready! Drink a lot of water today, and just run through your solo once or twice.</p>
  <p>15 min. Solo</p>


<p>Most importantly, make sure youre havig fun! Solo's are a great way to show off your hard work, and the more you put into them the better you'll sound! Good luck!</p>
</div>
</main>















</div>


<footer>
  <div class="footer">
  <ul class="bottomnav">
    <!-- <p>PracticePro</p> -->
  </ul>
  </div>
</footer>
    <script src="./dist/main.js" type="text/javascript"></script>







</div>
  </body>
</html>
