<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>PracticePro</title>
  </head>
  <body>

<div id="app" class="appdiv">


<header>
  <nav>
    <div class="nav">
  <ul class="topnav">
    <li><a href="#home" v-on:click="pageName = 'home'">Home</a></li>
    <li><a href="#calender" v-on:click="pageName = 'calender'">Calender</a></li>
    <li><a href="#practice" v-on:click="pageName = 'practice'">Practice</a></li>
    <li><a href="#lessons" v-on:click="pageName = 'lessons'">Lessons</a></li>
    <li><a href="#tools" v-on:click="pageName = 'tools'">Tools</a></li>
  </ul>
  </div>
  </nav>
</header>

<div class="content">


<!-- Start Page -->
<main v-bind:hidden="pageName != 'start'" class="animated">
  <div class="startpage">
  <h1>PracticePro</h1>
  <img src="images/icon.jpg" alt="practice pro icon" width="400px">
  <h1>Welcome</h1>
  First name? <input v-model="firstName" placeholder="First name?">
  Last name? <input v-model="lastName" placeholder="Last name?">

  <p><a href="#home" v-on:click="pageName = 'home'">Begin</a></p>
  </div>
</main>




<!-- dashboard -->
<main v-bind:hidden="pageName != 'home'">
<div class="home">

<div class="profile">
  <img class="avatar" src="images/male.png" alt="profile picture">
  <p class="name">{{ fullName }}</p>
  <div class="stats">
    <ul class="statslist">
      <li>
        <span>Hours</span>
        <span>222</span>
      </li>
      <li>
        <span>Lessons</span>
        <span>8</span>
      </li>
      <li>
        <span>Scales</span>
        <span>13</span>
      </li>
    </ul>
  </div>
</div>


<div class="img">
  <a href="#tips" v-on:click="pageName = 'tips'">
  <img src="images/pianist.jpg" alt="piano player">
  <p><a href="#tips" v-on:click="pageName = 'tips'">How to prepare for your audition</a></p>
  </a>
</div>

<div class="leaderboard">
  <a href="leaderboardlink" v-on:click="pageName = 'leaderboard'">
    <div>
      <h2>Leaderboard</h1>
        <div class="pictext">
          <img class="profile" src="images/max.png" alt="profile picture">
            <p>Max 500 hrs</p>
        </div>
        <div class="pictext2">
          <img class="profile" src="images/hadley.png" alt="profile picture">
          <p>Hadley 456 hrs</p>
        </div>
        <div class="pictext2">
          <img class="profile" src="images/chloe.png" alt="profile picture">
          <p>Chloe 427 hrs</p>
        </div>

    </div>
  </a>
</div>


  <div class="remind">
    <h2>Don't forget to practice today!</h3>
    <p>Practiced 4/5 days</p>
  </div>

</main>

<!-- Calender -->
<main v-bind:hidden="pageName != 'calender'">
<div class="calender">
  <!-- Image of a calender I guess? -->
<p>yo yo yo this is a calender dog</p>
<h4>DANG</h4>
</div>
</main>

<main v-bind:hidden="pageName != 'practice'">
<div class="practice">
<h3>Build a practice session</h3>

<div class="appRoot">
<!-- Code from https://codepen.io/kingRayhan/pen/MoLrXX -->


<div class="container">
  <div class="col-md-6 col-md-offset-3">
	  	<h3>{{ title.taskList }}</h3>
	   <ul class="list-group tasklistPane" >
			<li class="list-group-item" v-for="(task,index) in tasks" v-show="task.completed != true">
				<input type="checkbox" :id="'incompleted-task-id-' + index " v-model="task.completed"> <label :for="'incompleted-task-id-' + index ">{{task.description}}</label>
				<div class="btn-group pull-right">
					<button class="btn btn-success btn-xs" @click="editTaskIndex = index"><i class="fa fa-pencil" aria-hidden="true"></i></button>
					<button class="btn btn-danger btn-xs" @click="deleteTask(index)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
				</div>
		   </li>


		   <li class="list-group-item" v-if="editTaskIndex < 0">
		   		<input type="text" class="form-control" placeholder="Type and hit enter" ref="newTask" @keyup.enter="addTask">
		   </li>

		   <li class="list-group-item" v-if="editTaskIndex > -1">
			   <div class="has-success">
			   		<input type="text" class="form-control" placeholder="Exit and hit enter" v-model="tasks[editTaskIndex].description" @keyup.enter="editTaskIndex = -1 , edited()" @keyup.enter="edited">
			   </div>
		   </li>



	   </ul>

		<!-- Completed tasks -->
		<div v-if="completeTasks.length > 0">
			<h3>{{ title.completedTasks }}</h3>
		   <ul class="list-group" >
				<li class="list-group-item" v-for="(task,index) in completeTasks">
					<input type="checkbox" :id="'completed-task-id-' + index " v-model="task.completed"> <label :for="'completed-task-id-' + index ">{{task.description}}</label>

			   </li>
		   </ul>
		</div>

  </div><!-- .col-md-6.col-md-offset-3 -->
</div><!-- .container -->







<!-- End App -->
</div><!-- #appRoot -->

</div>
</main>

<main v-bind:hidden="pageName != 'lessons'">
<div class="lessons">

<h2>Master a new scale</h2>
<h2>Complete the trombone starter series</h2>
<h2>Learn advanced techniques</h2>



</div>
</main>

<main v-bind:hidden="pageName != 'tools'">
<div class="tools">

  <p>woah is a tuner</p>
  <p><a href="#metronome" v-on:click="pageName = 'metronome'">metronome</a></p>

</main>

<main v-bind:hidden="pageName != 'metronome'">
  <p>woah is a metronome</p>
  <p><a href="#tools" v-on:click="pageName = 'tools'">tuner</a></p>
</main>

</div>





<!-- Tips -->
<main v-bind:hidden="pageName != 'tips'">
<div class="tips">
  <h2>How to prepare for your audition</h2>
  <p>Whether you’ve been playing for one year or ten, we can all get some nerves when its audition time. While a little nervousness is healthy, you don’t want to be completely nervous! One of the best ways to help with nerves is to be prepared. Heres an example of how to set yourself up for success.
  </p>

  <h3>One Month Before</h3>
  <p>This is when we want to be finished learning our solos and scales. Here we’ve set up a sample practice session. </p>
  <p>30 min. Scales</p>
  <p>20 min. Etudes</p>
  <p>45 min. Solo</p>

  <button>Add this to my calender</button>

  <h3>One Week Before</h3>
  <p>When you get this close to the audition, you want to make sure your solo is fresh in your mind, but make sure you aren't overworking yourself! Focus on easier sessions, and run through the hard parks of your solo. Try a schedule like this:</p>
  <p>15 min. Scales</p>
  <p>10 min. Etudes</p>
  <p>20 min. Solo</p>

<button>Add this to my calender</button>

  <h3>One Day Before</h3>
  <p>Todays the day to make sure you're rested and ready! Drink a lot of water today, and just run through your solo once or twice.</p>
  <p>15 min. Solo</p>

<button>Add this to my calender</button>

<p>Most importantly, make sure youre havig fun! Solo's are a great way to show off your hard work, and the more you put into them the better you'll sound! Good luck!</p>
</div>
</main>















</div>


<footer>
  <div class="footer">
  <ul class="bottomnav">
    <!-- <p>PracticePro</p> -->
  </ul>
  </div>
</footer>
    <script src="./dist/main.js" type="text/javascript"></script>







</div>
  </body>
</html>
