@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  background-color: #deefdd;
  font-family: 'Lato', sans-serif;
}

body {
  /* margin: 0; */
  margin-top: 60px;
}

/* .content {
  margin: auto;
  width: 50%;
} */

.nav {
width: 100%;
position: fixed;
top: 0;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5BAE32;
}

.nav li {
  /* display: inline; */
  float: left;
}

.nav a {
  display: block;
  color: white;
  text-align: center;
  margin: 14px 16px;
  text-decoration: none;
}

/* start page */
.startpage {
  overflow: hidden;
}

.startpage h1 {
  color: #5BAE32;
  text-align: center;
  font-size: 3em;

  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.startpage p {
  text-align: center;
}

.startpage img {
  margin: 10px;
  max-width: 400px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Home Page */
.top {
  float: left;
  width: 100%;
}

/* profile css */
.profile {
  float: left;
  width: 25%;
  padding: 0 1%;
  margin: 0 1%;
  background-color: #f9fff9;
}

.avatar {
  max-width: 30%;
  float: left;
  margin-top: 2%;
  margin-right: 1%;
}

.name {
  float: left;
  width: 60%;
}

.stats {
float: left;
width: 50%;
}

.statslist {
  list-style-type: none;

}

.statslist li {

}

.img img {
  max-width: 100%;
}

.img {
  float: left;
  width: 40%;
  margin: 0 1%;
}

.img p {
  text-align: center;
  margin-top: -1%;
  background-color: #f9fff9;
}

.img a {
  text-decoration: none;
}

.leaderboard {
  float: left;
  width: 25%;
  padding: 0 1%;
  margin: 0 1%;
  background-color: #f9fff9;
  text-decoration: none;
}

.profilepics {
  width: 25%;
  float: left;
}

.profilepic {
  width: 90%;
  float: left;
  margin: 5%;
}



.leaderboard p {
  width: 60%;
  float: right;
  margin-top: 40px;
}

a:link {
  text-decoration: none;
}

.leaderboardlink {
  text-decoration: none;
}

.remind {
  float: left;
  width: 38%;
  margin: 0 30%;
  padding-left: 2%;
  background-color: #f9fff9;
  color: #5BAE32;
}

/* .achievements {
  float: left;
  width: 50%;
  margin: 0 25%;
}

.calender {
  float: left;
  width: 50%;
  margin: 0 25%;
} */


/* practice page */
.prebuilt{
  float: left;
  width: 35%;
  background-color: white;
  text-align: center;
  padding: 2%;
}

.prebuilt h2 {
  font-size: 2em;
}

.build{
  float: left;
  width: 35%;
  background-color: white;
  text-align: center;
  padding: 2%;
}

.build h2 {
  font-size: 2em;
}

.appRoot{
	background-color: white;


	.task-list{
		padding-top: 95px;
	}
}

.tasklistPane{
}

/* tips */
.tips {
  margin: 0 auto;
  width: 50%;
  background-color: white;
  text-align: center;
  padding: 2%;
}

.tips p {
  text-align: left;
}


/* calender */

.jzdbox1 {
  width:315px;
  background:white;
  border-radius:5px;
  overflow:hidden;
  display:block;
  margin-bottom:10px;
  margin:0 auto;
  margin-top:100px;
}

.jzdcal {
  padding:0 10px 10px 10px;
  box-sizing:border-box!important;
  /* background:#749d9e; */

}

.jzdcalt {
  font:18px 'Lato';
  font-weight:700;
  color:#5BAE32;
  display:block;
  margin:18px 0 0 0;
  text-transform:uppercase;
  text-align:center;
  letter-spacing:1px;
}

.jzdcal span {
  font:11px 'Lato';
  font-weight:400;
  color:#5BAE32;
  text-align:center;
  width:42px;
  height:42px;
  display:inline-block;
  float:left;
  overflow:hidden;
  line-height:40px;
}

.jzdcal .jzdb:before {
  opacity:0.3;
  content:'o';
}


span[data-title]:hover:after,
div[data-title]:hover:after {
  font:11px 'Roboto';
  font-weight:400;
  content:attr(data-title);
  position:absolute;
  margin:0 0 100px;
  background:#282423;
  border:1px solid #f7f3eb;
  color:#f7f3eb;
  padding:5px;
  z-index:9999;
  min-width:150px;
  max-width:150px;
}
