body {
  margin: 0;
  margin-top: 60px;
}

.content {
  margin: auto;
  width: 50%;
}

.nav {
width: 100%;
position: fixed;
top: 0;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5BAE32;
}

.nav li {
  /* display: inline; */
  float: left;
}

.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* start page */
.startpage {
  overflow: hidden;
}

.startpage h1 {
  color: #5BAE32;
  text-align: center;
  font-size: 3em;

  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.startpage p {
  text-align: center;
}

.startpage img {
  padding: 10px;
  max-width: 400px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


img{
    width:100%;
    max-width:600px;
}
